* {
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: 0 auto;
}

.box__inner {
  text-align: center;
}
.footer {
  background-color: #ffffff;
}
.title {
  font-size: 36px;
  line-height: 43px;
  color: #212121;
  font-family: "Tahoma";
  text-align: center;
  text-transform: uppercase;
}
.text {
  color: #a4a5a8;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "Tahoma";
}
.line {
  margin: 0 auto;
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
}
.cards {
  display: flex;
}
.item {
}

.item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  color: #ff8b38;
  border: 1px solid #ff8b38;
  cursor: pointer;
  transition: 0.5s;
  background: transparent;
}
.item > div:hover {
  background-color: #a4a5a8;
  color: white;
}
